@tailwind base;
@tailwind components;
@tailwind utilities;
/*Use this to disable the webkit-app-drag which wont allow any hover or click events inside an element with drag*/
.no-drag {
  -webkit-app-region: no-drag;
}

.drag {
  -webkit-app-region: drag;
}

/* Firefox */
* {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  /* background: #a1a1a1; */
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-radius: 20px;
  border: 1px solid #5f5f5f;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('ttd');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}